@use '../../style/style' as styles;

.loginForm {
  @include styles.shadow;
  background-color: ghostwhite;
  max-width: 100%;
  //height: 200px;
  padding: 10px;
  border: styles.$primary solid 3px;
  border-radius: 5px;

  & .button_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}