@use '../../style/style' as styles;

.main_page {
  &__content {
    height: 100%;
    min-width: 60%;
    background-color: darkgrey;
    margin: auto;
    & .stat_container {
      height: 200px;
    }
    & .add_item__button {
      width: 100%;
    }
    & .meals_container {

    }
  }
}
